.list-group-item {
    list-style-type: none;
    margin-bottom: 25px;
    padding: 2px;
    background-color: #151515;
    color: #f9f9f9;
    border-radius: 5px;
    min-height: 350px;
};

.list-group-item li {
    list-style-type: none;
    margin-bottom: 5px;
};

.search-results {
    color: #f9f9f9;
};